.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.container img {
  max-width: 50%;
  max-height: 70%;
  border-radius: 7px;
  box-shadow: 0 0 7px gray;
}
.container button {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background-color: rgba(255, 0, 0, 0.4);
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.container button:hover::before {
  width: 50%;
}

.container button:hover::after {
  width: 50%;
}
.container button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  background-color: rgba(219, 139, 139, 0.4);
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.posts {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.post {
  width: 50%;
  padding: 0.7rem;
  box-shadow: 0 0 7px gray;
  background-color: rgb(16, 14, 14);
  border-radius: 7px;
  color: #ddd;
}
body {
  background-color: #ddd;
}
